/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*
*
* Modified by Peter McKay in January 2014 for use in "Sweet Meat Pete's Ultimate Blues Name Generator." Changes also open source under MIT license.
*/




/* Table of Content
==================================================

  #Reset & Basics
  #Typography
  #Basic Element Styles
  #Media Queries


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */

  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline; 
  }
	

/* #Typography
================================================== */

  html {
   font-size: 16px;
   line-height: 1.3;
   width: 100%;
   height: 100%;
   font-family: 'Open Sans', sans-serif;
   background: url('../img/guitarbackground.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background attachment: fixed;
/*

Background obtained on Creative Commons license via Flickr at http://www.flickr.com/photos/rickharris/368538048/sizes/o/

*/


  }

  h1, h2, h3, h4, h5, h6 {font-family: 'Brawler', serif;}


  h1 {font-size: 3.2em}

  h2 {font-size: 2.8em}

  h3 {font-size: 2.4em}

  h4, h5, h6 {font-size: 1.8em}

  p, li, input, .formhed {font-size: 1.6em}

  a {
    text-decoration: none;
    color: #969696;
  }
  
  a:hover {text-decoration: underline}

/* #Basic Element Styles
================================================== */

body {}

#contentarea {
  position: relative;
  width: 80%;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 6em;
  padding: 2em;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

#contentarea:before, #contentarea:after {
  position: absolute;
  width: 40%;
  height: 1em;
  content: ' ';
  left: 1em;
  bottom: 1em;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  box-shadow: 0 6px 12px #141414;
  z-index: -1;
} 

#contentarea:after {
  left: auto;
  right: 1em;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg);
}


form {
  margin-top: 2em;
}

input {margin-bottom: 1em}
  
.footer {
  text-align: center;
  color: #c9c9c9;
  font-size: 1em;
  font-size: 1em;
  background: #404040;
  width: 100%;
  padding: 0.25em;
  margin: 0 auto;
  position: fixed;
  top: 0;
}  

.footer a {color: white;}

/* #Media Queries
================================================== */



